<a href="https://colab.research.google.com/github/hbb2019/nanoLM/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !pip install pyarrow
# !pip install datetime

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
file_path = '/content/drive/My Drive/BAAI/train-00000-of-00015.parquet'

In [ ]:
df = pd.read_parquet(file_path)

In [ ]:
print(f'行数:{df.shape[0]}')
print(f'列数:{df.shape[1]}')

行数:100000
列数:6

In [ ]:
df.iloc[1]

id                                e90e5da60b3202c46222f752a54204de
source                                                  Subjective
langdetect                                                      en
label            {'ability_en': ['game design', 'rule design', ...
conversations    [{'from': 'human', 'value': 'In a city generat...
reward                                                       55.25
Name: 1, dtype: object

In [ ]:
df.iloc[5]['label']

{'ability_en': array(['tax knowledge', 'computing ability', 'write a report'],
       dtype=object),
 'ability_zh': array(['税务知识', '计算能力', '写报告'], dtype=object),
 'cate_ability_en': array(['financial, financial and business knowledge',
        'mathematical ability', 'analysis and research'], dtype=object),
 'cate_ability_zh': array(['财务、金融与商业知识', '数学能力', '分析与研究'], dtype=object)}

In [ ]:
label_dict = df.iloc[5]['label']
cate_ability_zh_list = label_dict['cate_ability_zh']
print(cate_ability_zh_list)

['财务、金融与商业知识' '数学能力' '分析与研究']

In [ ]:
# 提取所有行的 cate_ability_zh 列表，形成 [[], [], []] 结构
cate_ability_zh_lists = df['label'].apply(lambda x: x['cate_ability_zh']).tolist()

[array(['数据科学与分析', '数学能力', '问题解答与支持'], dtype=object), array(['创意与设计'], dtype=object), array(['编程与软件开发'], dtype=object)]

In [ ]:
cate_ability_segment = cate_ability_zh_lists[:10]
for item in cate_ability_segment:
    print(item)

['数据科学与分析' '数学能力' '问题解答与支持']
['创意与设计']
['编程与软件开发']
['创意与设计' '数据科学与分析']
['编程与软件开发' '问题解答与支持']
['财务、金融与商业知识' '数学能力' '分析与研究']
['数学能力']
['编程与软件开发' '问题解答与支持']
['编程与软件开发' '数学能力' '问题解答与支持']
['问题解答与支持']

In [ ]:
cate_ability_zh_lists = [list(item) for item in cate_ability_zh_lists]
flattened_list = [item for sublist in cate_ability_zh_lists for item in sublist]
unique_elements = set(flattened_list)
unique_count = len(unique_elements)
unique_elements = set(flattened_list)
print("不同元素的数量:", unique_count)

不同元素的数量: 26

In [ ]:
list_unique_elements = list(unique_elements)
for item in list_unique_elements:
    print(item)

数据科学与分析
语言学知识、多语言与多元文化理解
财务、金融与商业知识
编程与软件开发
开放任务完成
医学、药学与健康知识
问题解答与支持
文学创作与艺术知识
任务生成
STEM知识
心理学知识
自然语言处理与理解
教育与咨询
创意与设计
生活知识与技能
人文历史哲学与社会学知识
数学能力
信息处理与整合
法律知识
政治、军事战略与安全知识
法律与安全知识
分析与研究
开放知识问答
沟通与社交媒体
逻辑与推理
项目与任务管理

In [ ]:
# 提取 cate_ability_zh 的第一个元素，添加到新列 subject_label
df['subject_label'] = df['label'].apply(lambda x: list(x['cate_ability_zh'])[0] if x['cate_ability_zh'].size > 0 else None)

# 打印前几行以确认
print(df[['label', 'subject_label']].head())

                                               label subject_label
0  {'ability_en': ['problem solved', 'data proces...       数据科学与分析
1  {'ability_en': ['game design', 'rule design', ...         创意与设计
2  {'ability_en': ['programming ability', 'techni...       编程与软件开发
3  {'ability_en': ['plot advancement', 'narrative...         创意与设计
4  {'ability_en': ['programming ability', 'algori...       编程与软件开发

In [ ]:
df.iloc[1]

id                                e90e5da60b3202c46222f752a54204de
source                                                  Subjective
langdetect                                                      en
label            {'ability_en': ['game design', 'rule design', ...
conversations    [{'from': 'human', 'value': 'In a city generat...
reward                                                       55.25
subject_label                                                创意与设计
Name: 1, dtype: object

In [ ]:
import datetime

In [ ]:
from datetime import datetime
import os

# 构造新文件名（添加日期）
# 获取当前日期（2025-04-22）
current_date = datetime(2025, 4, 22).strftime('%Y-%m-%d')  # 格式化为 '2025-04-22'

# 提取文件夹路径和原始文件名
folder_path = os.path.dirname(file_path)  # '/content/drive/My Drive/BAAI'
file_name = os.path.basename(file_path)   # 'train-00000-of-00015.parquet'

# 分割文件名和扩展名
file_name_base, file_extension = os.path.splitext(file_name)  # 'train-00000-of-00015', '.parquet'

# 构造新文件名
new_file_name = f"{file_name_base}_{current_date}{file_extension}"  # 'train-00000-of-00015_2025-04-22.parquet'

# 构造新文件的完整路径
new_file_path = os.path.join(folder_path, new_file_name)  # '/content/drive/My Drive/BAAI/train-00000-of-00015_2025-04-22.parquet'

# 步骤 3：保存 DataFrame 到新文件
df.to_parquet(new_file_path, index=False)

# 打印确认
print(f"文件已保存到: {new_file_path}")

文件已保存到: /content/drive/My Drive/BAAI/train-00000-of-00015_2025-04-22.parquet